# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/Frontend/node_modules
/Frontend/%ProgramData%
/Backend/.vs
/Backend/obj
node_modules/
/Backend/Backend/obj
/Backend/Backend/bin
/obj/Debug/net6.0/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
